body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;

	background-color: #f2f2f2;
	min-width: 1280px;
}

a {
	text-decoration: none;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}


.container {
	width: 1200px;
	background-color: #ffffff;
	box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
	margin: 0 auto;
}


.main-navigation {
	color: #333333;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	position: relative;

	background-color: #ffffff;
}

.main-navigation-site {
	list-style: none;
	display: flex;
	/* justify-content: space-around; */
	/*flex-wrap: wrap; */
	margin: 0;
	padding:0;
}

.main-navigation-link {
	width: 239px;
	/* flex-grow: 1; */
	Нужно лишкам задавать четкую ширину ?
}

.main-navigation-link:nth-child(2) {
	margin-right: 246px;
}

.main-navigation-site a{
	color: #000000;
	display: block;
	padding: 14px 0px;
	padding-bottom: 17px;
	text-align:  center;
}

.main-navigation-site a:hover{
	color: #81b3d2;
}

.main-navigation-site a:active{
	color: rgba(0, 0, 0, 0.3);
}


.main-navigation-logo-link {
	position: absolute;
	left: 531px;
	/* top: 0px; */
	/*z-index: 1; Решает проблему, что лого перекрывается фоном гор*/ 
/*	/*Нужно задавать контейнеру с абсолютным позиционированием размеры ? */
}

.main-navigation-logo {
	width: 138px;
	height: 70px;
	}


.intro {
	background-color: #81b3d2;
	background-image: url("../img/background-photo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 76px;
	padding-bottom: 74px;
	background-position: 0px -83px;

/*	position: relative;*/
 /*Если мы позиционируем согласно родителю то тогда часть лого скрывается под ним, решил что лучше тогда позиционировать согласно первому и ближайшему родителю - список */
}

.intro::before {
	content: "";
	display: block;
	width: 1200px;
	height: 57px;
	background-image: url("../img/shape.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	/*	left: 0;
	bottom: 0;*/
	top: 508px;
}

.intro-img {
	width: 458px;
	height: 352px;
}

.advantages {
	width: 1200px;
	/*Нужно задавать родительскому контейнеру ширину ?*/
}

.advantages-title {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: 700;
	text-align: center;

	width: 440px;
	margin: 0;
	padding-top: 60px;
	padding-left: 381px;
	padding-right: 381px;
	padding-bottom: 17px;
}

.advantages-descr {
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	font-weight: 400;
	text-align: center;
	width: 489px;
	margin: 0;
	padding-top: 10px;
	padding-left: 357px;
	padding-right: 357px;
	padding-bottom: 51px;
}

.advantages-block {
	display:flex;
	background-color: #81b3d2;
}

.advantages-block-text {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
	text-align: center;
	width: 400px;
	padding: 57px 50px;
	padding-bottom: 45px;
}

.advantages-block-title {
	font-size: 21px;
	font-weight: 700;

/*	margin: 0;*/
/*	padding-top: 40px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 0px;*/
}

.advantages-block-number {
/*	display: block;*/

}

.advantages-block-descr {
/*	margin: 0;*/
}


.advantages-block-img {
	width: 800px;
	height: 256px;
}

/*Для блока с изображением мы должны задавать ширину?*/
/*Защита от дурака: Прописать фиксированную высоту;*/

.advantages-block-img img{
	display: block;
	width: 800px;
	height: 256px;
}
/*Для изображения мы должны дублировать ширину и высоту из HTML?*/


.reason-box {
	display: flex;
	text-align: center;
	background-color: #ffffff;
	

}

.reason-box-item {
	padding-top: 61px;
	padding-left: 58px;
	padding-right: 67px;
	padding-bottom: 60px;

	/*Нужно убирать инлайновые стили у h1 и у P ?*/;
	/* color: black; */
}

.reason-box-icon {
	display: block;

	margin: 0 auto;

}

.icon-house {
	background-image: url("../img/icon-1.svg");
	width: 75px;
	height: 72px;

	/*background-size: cover;*/
	/*Этот css правило никак и ни на что не влияет ,зачем оно тут ? второе дает возможность подстроить элемент*/
	/*background-position: 0 0;*/

	background-repeat: no-repeat;
}

.icon-food {
	background-image: url("../img/icon-3.svg");
	width: 74px;
	height: 70px;
	background-repeat: no-repeat;
	background-size: cover;
}

.icon-souvenir {
	background-image: url("../img/icon-2.svg");
	width: 64px;
	height: 76px;
	background-size: cover;
	background-repeat: no-repeat;
}

.reason-box-title {
	color: #000000;
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}

.reason-box-descr {
	color: #333333;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.advantages-other {
	display: flex;
	text-align: center; 
	/*Нужен ли он тут text-align?*/
	background-color: #eeeeee;
}

.advantages-other-item {
	color: #333333;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;

	width: 400px;
	margin: 0 auto;
	/*Правильно ли сделал что задал фиксированию ширину у блоков и центрировал их?*/

	padding-top: 56px;
	padding-left: 60px;
	padding-right: 74px;
	padding-bottom: 45px;
}

.advantages-other-title {
	color: #000000;
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;

/*	margin: 0;*/
}

.advantages-other-descr {
/*	margin: 0;*/
	/*Стандартный отступ у p и h3 */
}



.offers-hottel {
	background-color: #ffffff;
	position: relative;

/*	padding-top: 21px;
	padding-left: 79px;
	padding-right: 76px;
	padding-bottom: 25px;*/
}


.offers-hottel-text {
	text-align: center;
	width: 434px;
	margin: 0 auto;
	padding-top: 21px;
	padding-left: 79px;
	padding-right: 76px;
	padding-bottom: 25px;

}

.offers-hottel-title {
	color: #000000;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;

	/*margin: 0;*/
}

.offers-hottel-descr {
	color: #333333;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;

	/*margin: 0;*/
}



.offers-hottel-button {
	color: #ffffff;
	background-color: #766357;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	/*vertical-align: middle;*/
	border: none;

	margin: 0 auto;
	display: block;
	width: 570px;
	padding-top: 32px;
	padding-bottom: 30px;
}

.offers-hottel-button:hover{
	background-color: #604e43;
}
 
.offers-hottel-button:active{
	color:#847870;
	background-color: #503e33;
}


.popup-form-absolute {
	background-color: #ffffff;
	position: absolute;
	left: 316px;
	width: 568px;
	height: 395px;
	padding: 57px;
	box-sizing: border-box;
}


.popup-form-control{
	display: flex;
	margin-bottom: 30px;
	align-items: center;
}


.popup-form-grid{
	display: flex;
	justify-content: space-between;

}

.popup-form-control-half{
	display: flex;
	align-items: center;
}

.popup-form-control input{
	/*box-sizing: border-box*/;
	width: 346px;
	padding-top: 3px;
	padding-left: 15px;
/*	padding-bottom: 6px;*/
}


.popup-form-count input{
	width: 38px;
}

.popup-form-control label,
.popup-form-grid label {
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
}

.popup-form-control label {
	width: 112px
}
.popup-form-grid label {
	width: 98px;
}


.popup-form-control input,
.popup-form-grid input {
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	background-color: #f2f2f2;
	border:none;
}

.popup-form-control input::placeholder, 
.popup-form-grid input::placeholder {
	color: #000000;
	font-weight: 700;
	text-transform: uppercase;
}

.popup-form-control input:hover {
	background-color: #ebebeb;
}

.popup-form-control input:focus {
	border: 2px solid #e5e5e5;
	background-color: #ffffff;
}

.popup-form-control {
	/*position: relative;*/
}

.popup-form-icon-calendar {
	display: block;
	background-image: url("../img/calendar.svg");
	background-size: cover;
	background-repeat: no-repeat;

	width: 21px;
	height: 22px;
	position: absolute;
	opacity: 0.4;
	left: 85%;
}


.btn-popup {
	color: #a9a9a9;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	background-color: #f2f2f2;
	border:none;
	
	display: inline-block;
	width: 38px;
	height: 38px;
	margin: 0;
	padding: 0;
}



.btn-popup:hover {
	color: #000000;
}

.btn-popup:active {
	color:#81b3d2;
}


.popup-form-submit {
	color: #ffffff;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	background-color: #81b3d2;
	border:none;
	text-transform: uppercase;

/*	position: absolute;*/
	display: block;
	width: 100%;
	padding-top: 18px;
	padding-bottom: 15px;
	margin-top: 65px;
/*	height: 58px;*/
/*	top: 281px;
	left: 55px;*/
}

.popup-form-submit:hover {
	background-color: #669ec0;
}

.popup-form-submit:active {
	color: #87b6d1;
	background-color: #5496bd;
}




.main-footer {
	color: #000000;
	background-color: rgba(255, 255, 255, 0.9);
/*	text-align: center;*/

	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.main-footer-slogan {
	color: #000000;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;

	width: 136px;
	margin: 0;
}

.main-footer-social {
	list-style: none;

	width: 150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
/*	margin: 0 auto;*/
/*Обнулим внутренние отступы у списка и отцентруем его с помощью внешних отступов.*/
	padding: 0;
}

.main-footer-list{
}

.footer-copyright {
	display: flex;
	width: 197px;

	justify-content: space-between;
	align-items: center;
}


.social-btn {
	width: 46px;
	height: 48px;
	background-color: #81b3d2;

	display: flex;
	align-items: center;
	justify-content: center;
}

/*.social-btn-twitter {
	background-image: url(../img/twitter.svg);
	width: 17px;
	height: 15px;
	background-size: cover;
	background-repeat: no-repeat;
}*/

.social-btn:hover {
	background-color: #669ec0;
}

.social-btn:active {
	background-color: #5496bd;
}

.social-btn::active path {
	fill: red;
}

.footer-copyright-text {
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;

	margin: 0px;
}

.footer-copyright-logo:hover path {
	fill: #81b3d2;
}

.footer-copyright-logo:active path {
	fill: #bdbbbc;
}


